@font-face {
    font-family: 'Viga';
    src: url('/src/public/fonts/Viga-Regular.ttf') format('truetype')

}

@font-face {
    font-family: 'Jaldi';
    src: url('/src/public/fonts/Jaldi-Regular.ttf') format('truetype')

}

.home {
    position: relative;
}

.background1 {
    position: fixed;
    top: -29px;
    right: 0;
    z-index: -1;
}

.home-cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 44px;

    position: absolute;
    left: 2.4%;
    top: 150px
}

.left-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 79px;
}

.graph-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 562px;
    height: 298px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.image {
    width: 508px;
    height: 222px;
}