.card {
    display: flex;
    flex-direction: column;
    
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    padding: 18px 32px;
    gap: 10px;

    align-items: flex-start;
}

.card-header {
    font-family: 'Viga', sans-serif;
    color: #27216B;
    margin: 0;
    width: 378px;
}

.description {
    font-family: 'Jaldi', sans-serif;
    color: #6D6D6D;
    font-size: 20px;
    line-height: 28px;
    margin: 0;

    width: 432px;
}

.right-card {
    width: 562px;
}
