:root {
    --header-height: 130px;
}

.header {
    display: flex;
    flex-direction: row;
    
}

.text-links {
    display: flex;
    gap: 100px;
    width: 100%;
    padding: 20px;

    flex-direction: row;
    justify-content: center;
}

.text {
    font-family: "Jaldi";
    font-size: 20px;
    text-align: center;

    width: 115px;
    height: 40px;

    color: #6d6d6d;
}

.logo {
    height: 61px;
    width: 61px;
}

.header-spacer {
    height: var(--header-height);
}

.headerTitle {
    text-decoration: none;
}
  
.headerTitle.active {
    text-decoration: underline #27216bC0;
    
}